# Thanks to: https://github.com/wenkokke/setup-agda/blob/latest/.github/workflows/release.yml
name: nightly

on:
  push:
    branches: [ main, ci ]

jobs:
  nightly:
    name: Set latest tag to the newest commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update 'latest' tag
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git tag --force latest
          git push --force --tags origin latest
        shell: bash
